    .header {
        height: 227px;
        width: 100%;
        background-image: url('../images/landing-header.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
        h1 {
            font-size: 4em;
        }
    }
    
    .register-footer {
        p {
            color: white;
            font-size: 0.7em;
            text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        }
    }
    
    .login {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .content-box {
            display: flex;
            width: 100%;
            justify-content: space-around;
            .about-us {
                width: 547px;
                height: 550px;
                background-image: url('../images/sticky-pink.png');
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .about-content {
                    width: 70%;
                    height: 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        max-width: 80%;
                        margin-left: 10%;
                        font-size: 1.4em;
                    }
                    h2 {
                        font-size: 2em;
                    }
                }
            }
            .login-form {
                width: 547px;
                height: 550px;
                background-image: url('../images/sticky-yellow.png');
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .form-content {
                    width: 90%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin-bottom: 0.1em;
                        font-size: 1.4em;
                    }
                    h2 {
                        font-size: 2em;
                    }
                }
            }
        }
    }
    
    .register-footer {
        p {
            color: white;
            font-size: 0.7em;
            text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        }
    }
    
    .register {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .content-box {
            display: flex;
            width: 100%;
            justify-content: center;
            .register-form {
                width: 920px;
                height: 690px;
                background-image: url('../images/sticky-register.png');
                //background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                .form-content {
                    width: 90%;
                    height: 60%;
                    display: flex;  
					flex-wrap: wrap;
					justify-content: center;
					margin-left: 50px;
                    .button{
                    	width: 80%;
                    	margin-top: 3em;
                    	text-align: center;
                    }            
                    p {
                        margin-bottom: 0.1em;
                        font-size: 1.4em;
                        font-family: 'titlefont';
                        color: #000;
                    }
                    h2 {
                        font-size: 2em;
                    }
					.input-picture{
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 300px;
						height: auto;
					}
                    .form-inputs{
                    	display: flex;
						flex-wrap: wrap;
						width: 62%;
						height: auto;
                    	.input-box{
                    		min-width: 250px;
                    		display: flex;
                    		flex-direction: column;
                    		align-items: center;
                    		justify-content: center;
                    	}
                    }
                }
            }
        }
    }
